version: '3.9'

name: remember

services:
  server:
    build: ./server
    volumes:
      - ./server:/app      
    env_file:
      - ./server/.env
    depends_on:
      app_database:
        condition: service_healthy
    ports:
      - "4444:4444"
  app_database:
    image: postgres:latest
    ports:
      - "5555:5432"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: remember
      POSTGRES_USER: user 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d remember"]
      interval: 5s
      timeout: 5s
      retries: 5
